# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/jekyll,git,gitbook
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll,git,gitbook

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### GitBook ###
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
!Resume.pdf

### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# End of https://www.toptal.com/developers/gitignore/api/jekyll,git,gitbook

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

.frontmatter/content/mediaDb.json
.vscode/settings.json
frontmatter.json
.env
scripts/repos.json