<!doctype html>
<html lang="en">
    {{head}}
    <body class="skin-vector">
        {{header}}
        <h1 id="firstHeading">{{metadata.author}}</h1>
        <div id="siteSub">Software Engineer, tinkerer, and lifelong learner</div>
        <div class="mw-parser-output">
            <div class="thumb tright about-thumb">
                <div class="thumbinner">
                    <img src="{{avatar}}" alt="{{metadata.author}}" class="thumbimage">
                    <div class="thumbcaption">{{metadata.author}}</div>
                </div>
            </div>
            <div>{{author.body}}</div>
        </div>
        {{footer}}
    </body>
</html>