<!doctype html>
<html lang="en">
{{head}}
<body>
{{header}}
  <div id="home-welcome">
    <h2>Welcome to {{metadata.author}}'s Web Page</h2>
    <p>{{metadata.shortDescription}}</p>
  </div>

  <div class="home-columns">
    <div class="mp-column mp-left">
      <div class="home-box">
        <div class="home-box-header">Featured essay</div>
        <div class="home-box-body">{{featuredArticle}}</div>
      </div>
      <div class="home-box">
        <div class="home-box-header">Quotes</div>
        <div class="home-box-body">{{didYouKnow}}</div>
      </div>
    </div>
    <div class="mp-column mp-right">
      <div class="home-box">
        <div class="home-box-header">Recent experiments</div>
        <div class="home-box-body">{{inTheNews}}</div>
      </div>
      <div class="home-box">
        <div class="home-box-header">Recent notes</div>
        <div class="home-box-body">{{recentNotes}}</div>
      </div>
      <div class="home-box">
        <div class="home-box-header">Precepts</div>
        <div class="home-box-body">{{onThisDay}}</div>
      </div>
    </div>
  </div>

  <section class="projects-section">
    <h2>Featured projects</h2>
    {{featuredProjects}}
  </section>
{{footer}}
</body>
</html>