<!doctype html>
<html lang="en">
    {{head}}
    <body>
        {{header}}
        <div class="layout">
            <div class="main">
                <h1>Latest Essays</h1>
                {{recentEssays}}
            </div>

            <div class="sidebar">
                <div class="sidebar-about">
                    <img
                        src="{{avatar}}"
                        alt="{{metadata.author}}"
                        class="avatar"
                    />
                    <p>{{authorPreview}}</p>
                    <p><a href="/about.html">Read more &rarr;</a></p>
                </div>

                <div>
                    <h2>Curated Reads</h2>
                    <h3>Books</h3>
                    <ul>
                        {{readingList}}
                    </ul>
                    <h3>Blogs</h3>
                    <ul>
                        {{preceptList}}
                    </ul>
                </div>
            </div>
        </div>

        <section class="projects-section">
            <h1>Featured Projects</h1>
            {{featuredProjects}}
        </section>
        {{footer}}
    </body>
</html>
