<style>
    img.avatar {
        float: left;
        margin-right: 15px;
        margin-bottom: 10px;

        height: 80px;
        width: 80px;

        border-radius: 12px;
        background: #e0e0e0;
        box-shadow: -5px -5px 10px #b5b5b5,
            5px 5px 10px #ffffff;
    }


/* 
    @media only screen and (min-width: 538px) {
        img.avatar {
            float: left;
            margin-right: 15px;
            margin-bottom: 10px;

            height: 80px;
            width: 80px;
            border-radius: 12px;
            background: #e0e0e0;
            box-shadow: 5px -5px 10px #c1c1c1,
                -5px 5px 10px #ffffff;
        }
    } */
</style>



<img class="avatar" src="{{'./assets/images/avatar.jpg' | relative_url}}" aria-label="avatar" />