
{% if site.data.goodreads.currently-reading %}
## Bookshelf:
<ul>
{% for book in site.data.goodreads.currently-reading limit:5 %}
    <li class="openInNewWindowlist"><a class="openInNewWindow" href="{{ book.link }}">{{ book.title }} by {{ book.author }} </a></li> 
{% endfor %}
{% if site.data.goodreads.read %}
{% for book in site.data.goodreads.read limit:5 %}
    <li class="openInNewWindowlist"><a class="openInNewWindow" href="{{ book.link }}">{{ book.title }} by {{ book.author }} </a></li> 
{% endfor %}
{% endif %}
</ul>
{% endif %}