
<style>
    nav {
        display:inline; 
        align-items:center;
        text-align: center
    }
    nav > ul { 
    padding: 0px;
    align-items:center;
    }
    nav > ul > li {
        display:inline; 
        padding: 10px;
    }

</style>

<nav>

    <ul>
        <li><a href="{{'./' | relative_url }}" title="Home">Home</a></li>
        |
        <li><a href="{{'./essays' | relative_url }}" title="Essays"> Essays</a></li>
        |
        <li><a href="{{'./projects' | relative_url }}" title="Projects">Projects</a></li>
        |
        <li><a href="{{'./Resume.pdf' | relative_url }}" title="Resume">Resume</a></li>


    </ul>

</nav>