<style>
  nav {
    position: relative;
    top: 2em;
    left: 1em;
    width: 9em
  }

  .side_bar ul {
    list-style: none;

  }

  .side_bar ul li a {
    text-decoration: none;

  }

 
</style>


<div class="nav-section">
{% include sidebar.html %}
<!-- 
  <nav class="side_bar">
    <ul>
      <li><a href="{{'./' | relative_url }}">Home</a></li>
      <li><a href="{{'./essays' | relative_url }}"> Essays</a></li>
      <li><a href="{{'./projects' | relative_url }}">Projects</a></li>
      <li><a href="{{'./' | relative_url }}">CV</a></li>
   
    </ul>
  </nav> -->
</div>