<ul class="repos">

    {% for repository in site.data.repos limit:repolimit %}
    <li class="repo-card">
        <a href="{{ repository.url }}" >
            <div style="font-weight: bold; color: var(--primary);margin-bottom: 0.5em;">
                {{ repository.name | replace: '-', ' '| replace: '_', ' '}}
            </div>
            {% if repository.desc %}
            <span class="text-gray mb-2 ws-normal">{{ repository.desc }}</span>
            {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>