<style>
  :root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238)
  }

  .dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51)
  }

  * {
    box-sizing: border-box;
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }

  html,
  body {
    min-height: 100%;
  }

  main {
    min-height: 85vh;
  }

  html,
  body {
    background-color: #fff;
    color: rgb(0, 0, 0);
    font-family: 'Lora', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  body {
    font-family: 'Lora', serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 640px;
    margin: 1em auto 0em;
    font-size: 12pt;
    line-height: 1.6;
    padding: 0 1em;
    -webkit-font-smoothing: antialiased;
  }

  .list {
    background: var(--code-bg)
  }

  .dark.list {
    background: var(--theme)
  }


  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--primary)
  }

  a {
    color: #4d4ae8;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2
  }

  ul {
    list-style:square;
    color: var(--primary);
  }
  li {
    line-height: 1.6;

  }


  button,
  input,
  textarea {
    padding: 0;
    font: inherit;
    background: 0 0;
    border: 0
  }

  input,
  textarea {
    outline: 0
  }

  button,
  input[type=button],
  input[type=submit] {
    cursor: pointer
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill {
    box-shadow: 0 0 0 50px var(--theme)inset
  }


  ::-webkit-scrollbar-track {
    background: 0 0
  }

  ::-webkit-scrollbar {
    width: 19px;
    height: 11px
  }

  .list:not(.dark)::-webkit-scrollbar-track {
    background: var(--code-bg)
  }

  ::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius)
  }

  .list:not(.dark)::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg)
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary)
  }

  .not-found {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 160px;
    font-weight: 700
  }

  nav {
    width: 100%;
    overflow: auto;
    border: 2px solid var(--tertiary);
    border-radius: calc(var(--radius)/3.14);
    color: var(--primary);
    margin-bottom: 1em;

    -webkit-box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 8%);
    -webkit-transition: -webkit-box-shadow .4s;
    transition: -webkit-box-shadow .4s;
    -o-transition: box-shadow .4s;
    transition: box-shadow .4s;
    transition: box-shadow .4s,-webkit-box-shadow .4s;
  }


  nav>a {
    float: left;
    width: 25%;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    color: var(--primary);
    border-radius: inherit;
    padding: calc(var(--radius) /3.14)
  }

  nav>a:hover {
    transition: .4s;
    background: var(--tertiary);
    text-shadow: 0px 0px 0.5em #00000022;
  }


  
  nav>a.active {
    background-color: var(--secondary);
    color: var(--theme);
  } 

  .title-section {
    display: table-row;
    font-weight: bold;
    align-items: center
  }


  .post-content {
    text-align: justify;
  }

  .content-section,
  .footer-section {

    height: 100%;
    padding: 4% 4% 0% 4%;
    display: table;
    align-items: center;
    width: 80%;
    color: rgb(0, 0, 0);
  }




  #repo-card {
    background: var(--entry);
    padding: 4%;
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);

  }


  #repo-card:hover {
    transform: scale(1.05);
    box-shadow: -7px -7px 14px #bebebe,
      7px 7px 14px #ffffff;
  }

  code,
  .highlight {
    background-color: #eee;
    border-radius: 3px;
    padding: 0 3px;
  }


  .footer {
    margin: auto;
    line-height: 24px;
    font-size: x-small;


    align-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px
  }

  .footer span a {
    text-decoration: none;
  }

  .footer span:last-child {
    white-space: nowrap
  }


  .footer a:hover {
    border-bottom: 1px solid var(--primary)
  }

  .footer a:hover,
  .top-link:hover {
    color: var(--primary)
  }
</style>