<!DOCTYPE html>

{% include head.html %}

<body>

  <!-- main -->
  <main class="content-section" style="color: var(--content);">

    <!-- nav -->
    <div class="nav-section">
      {% include nav.html %}
    </div>
    <hr>
    {{ page.date | date: "%B %Y"}}
    <br>
    <br>
    <div class="title-section">
      {{page.title}}
    </div>

    <br>
    {{ content | replace: "<p>", "<br>" | replace: '</p>', '<br>' }}
  </main>

  <!-- footer -->
  
  {% include footer.html %}
  

  <style>
    .footnotes{
      margin: 10px 0;
    }
    .footnotes ol li br {
      display: none;
    }
    .footnotes::before {
      content: " \A Footnotes:";
      font-weight: bold;
     
    }
  </style>


</body>

</html>