<!DOCTYPE html>

{% include head.html %}

<body>

  <!-- main -->
  <main class="content-section">

    <!-- nav -->
    <div class="nav-section">
      {% include nav.html %}
    </div>
    <hr>
    {{ page.date | date: "%B %Y"}}
    <br>
    <br>
    <div class="title-section">
      {{page.title}}
    </div>

    <br>
    {{ content }}
  </main>

  <!-- footer -->
  <div class="footer-section">
    {% include footer.html %}
  </div>

  <style>
    .footnotes::before {
      content: " \a Footnotes:";
      font-weight: bold;

    }
  </style>


</body>

</html>